extends layout

block content
  div.hero-unit(ng-controller='mainController')
    h4 Battle your friend's Steam account
    form.form-inline(ng-submit='getSteamFriends()')
      div.input-prepend.input-append
        span.add-on(title='Click here to log in to Steam and, copy the ID from the web address')
          a(href='http://steamcommunity.com/my/')
            i.icon-question-sign
        input(type='text', placeholder='Your Steam ID...', ng-model='steamID')
        button.btn(type='submit') Go!
    ul
      li(ng-repeat='friend in friends') {{friend.steamID}}
