extends layout

block content
  div.hero-unit(ng-controller='mainController')
    h4 Battle your friend's Steam account
    form.form-inline(ng-submit='getSteamFriends()')
      div.input-prepend.input-append
        span.add-on(title='Click here to log in to Steam and, copy the ID from the web address')
          a(href='http://steamcommunity.com/my/')
            i.icon-question-sign
        input(type='text', placeholder='Your Steam ID...', ng-model='steamID')
        button.btn(type='submit') Go!
    div.row
      div.span4
        ul.media-list
          li(ng-repeat='friend in friends')
            a.media(href='#', ng-click='compareFriend(friend)')
              img.media-object.pull-left(ng-src='{{friend.avatar}}')
              div.media-body
                div.media-heading {{friend.name}}
      div.span3
        h3 You
        hr
      div.span3
        h3 {{selectedFriend.name || 'Select friend'}}
        hr
